
html {
    background-color: rgba(250, 235, 215, 0.642)
}

h1 {
    background-image: url("beanbckgrnd\ copy.svg");
    background-size: 100px;
    color: #8d706d00;
    font-size: 55px;
    text-align: center;
    height: 150px;
}  
    
h2 {
    text-align: center;
    background-color: antiquewhite;
    border:5px #8d706d;
    color: #8d706d;
    font-size: 55px;
    border-radius: 75%;
    width: 50%;
    margin: 0 auto;
    margin-top: -160px;
    margin-bottom: 100px;
    letter-spacing: 3px;
    font-family: cursive;
}  

h3 {
    font-size:xx-large;
    color: #8d706d;
    margin: 20px;
    text-align: center;
    
}

h4 {
    font-size:larger;
    color: #8d706d;
    margin: 20px;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: underline;
}

p {
    width: 50%;         
    margin: 0 auto;
    color: #8d706d;
    align-content: center;
    text-align: left;
    padding: 20px;
    width: 760px;
    font-size: medium;
    overflow: auto;
}

.thick {
    font-weight: bold;
}

ul {
    width: 50%;         
    margin: 0 auto;
    display: flexbox;
    color: #8d706d;
    align-content: center;
    text-align: left;
    padding: 20px;
    padding-left: 85px;
    width: 760px;
    list-style: circle;
}

.center-image {
    padding-top: 20px;
    padding-bottom: 20px;
  display:inline-block;
 align-content: center;
  width: 10%; 
}

.box {
    align-content: center;
    text-align: center;
    background-color: #8d706de6;
    width: 33.33%;
    height: 50px;
    color: white;
    border-radius: 10px;
    margin-bottom: -75px;
}


