
html {
    background-color: rgba(250, 235, 215, 0.642)
}
h1 {
    background-image: url("beanbckgrnd\ copy.svg");
    background-size: 100px;
    color: #8d706d00;
    font-size: 55px;
    text-align: center;
    height: 150px;
}  
    
h2 {
    text-align: center;
    background-color: antiquewhite;
    border:5px #8d706d;
    color: #8d706d;
    font-size: 55px;
    border-radius: 75%;
    width: 50%;
    margin: 0 auto;
    margin-top: -155px;
    margin-bottom: 100px;
    letter-spacing: 3px;
    font-family: cursive;
}

h3 {
    font-size:xx-large;
    color: antiquewhite;
    margin: 20px;
    margin-bottom: -40px;
    text-align: center;
}

#left {
        margin-top: 25px;
    float: left;
    padding-bottom: 20px;
    width: 33.33%;
}
#center {
    text-align: center;
    margin-top: 25px;
    float: left;
    padding-bottom: 20px;
    width: 33.33%;
}
#right {
        margin-top: 25px;
    float: left;
    padding-bottom: 20px;
    width: 33.33%;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center; 

}
.box {
    background-color: #8d706de6;
    width: 100px;
    height: 200px;
    margin: 20px;
    color: white;
    text-align: center;
    line-height: 50px; 
    border-radius: 5px;
}
