* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrollbars from breaking the 100vw/vh */
}

.container {
    display: flex;
    position: relative;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: darkgreen;
}

.bottom-box, .top-box {
    display: flex; /* Crucial: Flexbox must be enabled */
    width: 100%;
    height: 100%;
    position: absolute; /* This allows them to layer on top of each other */
    top: 0;
    left: 0;
}

.bottom-box { 
    flex-direction: column;   
}

.top-box { 
    flex-direction: row; 
}

.item, .itemc {
    background-color: lightgreen;
}

.row {
    display: flex;
    height: 10%;
    gap: 5px; 
    margin-bottom: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 10%;
    gap: 5px; 
}

.itemc {
    width: 100%;
    height:100%;
}

.r1-1 {
    width:10%;
}
.r1-2 {
    width:60%;
}
.r1-3 {
    width:30%;
}

    .r2-1 {
        width: 10%;
    }
    .r2-2 {
        width: 20%;
    }
    .r2-3 {
        width: 40%;
    }
    .r2-4 {
        width: 10%;
    }
    .r2-5 {
        width: 20%;
    }
        .r3-1 {
            width: 10%;
        }
        .r3-2 {
            width: 10%;
        }
        .r3-3 {
            width: 10%;
        }
        .r3-4 {
            width: 50%;
        }
        .r3-5 {
            width: 20%;
        }
            .r4-1 {
                width: 20%;
            }
            .r4-2 {
                width: 10%;
            }
            .r4-3 {
                width: 10%;
            }
            .r4-4 {
                width: 40%;
            }
            .r4-5 {
                width: 20%;
            }
                .r5-1 {
                width: 10%;
                }
                .r5-2 {
                    width: 20%;
                }
                .r5-3 {
                    width: 20%;
                }
                .r5-4 {
                    width: 20%;
                }
                .r5-5 {
                    width: 30%;
                }
                    .r6-1 {
                    width: 40%;
                    }
                    .r6-2 {
                        width: 10%;
                    }
                    .r6-3 {
                        width: 20%;
                    }
                    .r6-4 {
                        width: 30%;
                    }
                        .r7-1 {
                            width: 10%;
                        }
                        .r7-2 {
                            width: 30%;
                        }
                        .r7-3 {
                            width: 10%;
                        }
                        .r7-4 {
                            width: 50%;
                        }
                            .r8-1 {
                                width: 10%;
                            }
                            .r8-2 {
                                width: 30%;
                            }
                            .r8-3 {
                                width: 20%;
                            }
                            .r8-4 {
                                width: 10%;
                            }
                            .r8-5 {
                                width: 30%;
                            }
                                .r9-1 {
                                    width: 20%;
                                }
                                .r9-2 {
                                    width: 10%;
                                }
                                .r9-3 {
                                    width: 30%;
                                }
                                .r9-4 {
                                    width: 10%;
                                }
                                .r9-5 {
                                    width: 30%;
                                }
                                    .r10-1 {
                                         width: 30%;
                                    }
                                    .r10-2 {
                                        width: 30%;
                                    }
                                    .r10-3 {
                                        width: 40%;
                                    }

.c1-1 {
    height:40%;
}
.c1-2 {
    height:20%;
}
.c1-2 {
    height:40%;
}

    .c2-1 {
        height:20%;
    }
    .c2-2 {
        height:20%;
    }
    .c2-3 {
        height:10%;
    }
    .c2-4 {
        height:10%;
    }
    .c2-5 {
        height:10%;
    }
    .c2-6 {
        height:20%;
    }
    .c2-7 {
        height:10%;
    }
        .c3-1 {
            height:10%;
        }
        .c3-2 {
            height:70%;
        }
        .c3-3 {
            height:20%;
        }
            .c4-1 {
                height:10%;
            }
            .c4-2 {
                height:10%;
            }
            .c4-3 {
                height:20%;
            }
            .c4-4 {
                height:40%;
            }
            .c4-5 {
                height:20%;
            }
                .c5-1 {
                    height:20%;
                }
                .c5-2 {
                    height:10%;
                }
                .c5-3 {
                    height:30%;
                }
                .c5-4 {
                    height:40%;
                }
                    .c6-1 {
                        height:10%;
                    }
                    .c6-2 {
                        height:20%;
                    }
                    .c6-3 {
                        height:10%;
                    }
                    .c6-4 {
                        height:30%;
                    }
                    .c6-5 {
                        height:30%;
                    }
                        .c7-1 {
                            height:30%;
                        }
                        .c7-2 {
                            height:10%;
                        }
                        .c7-3 {
                            height:30%;
                        }
                        .c7-4 {
                            height:30%;
                        }
                            .c8-1 {
                                height:10%;
                            }
                            .c8-2 {
                                height:10%;
                            }
                            .c8-3 {
                                height:20%;
                            }
                            .c8-4 {
                                height:60%;
                            }
                                .c9-1 {
                                    height:10%;
                                }
                                .c9-2 {
                                    height:30%;
                                }
                                .c9-3 {
                                    height:10%;
                                }
                                .c9-4 {
                                    height:50%;
                                }
                                    .c10-1 {
                                        height:20%;
                                    }
                                    .c10-2 {
                                        height:30%;
                                    }
                                    .c10-3 {
                                        height:50%;
                                    }


