html {
    background-color: rgb(157, 193, 131);
}

body {
    display: block;
    width: 75%;
    height:auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: beige;
    align-self: center;
    align-content: center;
}

h1 {
    align-content: center;
    align-self: center;
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
}

h2 {
    display: block;
    text-align: left;
    width: 75%;
    margin: auto;
    
}

h3 {
    display: block;
    text-align: left;
    width: 75%;
    margin: auto;
    padding: 20px;
    overflow-wrap: anywhere;
  
}

p {
    display: block;
    text-align: left;
    width: 75%;
    padding-bottom: 10px;
    margin: auto;
    overflow: auto;
    overflow-wrap: break-word;
    line-height: 25px;
}

ul {
    display: block;
    text-align: left;
    width: 75%;
    margin: 20px;
    padding-left: 95px;

    
}